<h1>Routing</h1>
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav>
  <ul>
    <li><a routerLink="/home-component" routerLinkActive="active">First Component</a></li>
    <li><a routerLink="/user-component" routerLinkActive="active">Second Component</a></li>
  </ul>
</nav>

<button mat-raised-button color="primary">Primary</button>

<mat-slider min="1" max="100" step="1" value="1"></mat-slider>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>